div{
    width: 200px;
    height: 150px;
    background: yellowgreen;
    content: url(../image/抠图素材01-小猫2.jpg);
    /* 外边距 */
    /* margin: 10px 20px 30px 40px;*/
    /*外边距（顺时针设置）：上 、右 、下 、左 */
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    /* border: 10px solid magenta;*/
    border-top: 2px;border-right: 2px;
    border-bottom: 2px;border-left: 2px;
    border-style: solid;/*边框样式（实线|虚线|双线）*/
    border-color: blue;
    border-radius: 20px;/*边框圆角*/
    /*内边框（同外边框） */
    /* padding: 40px 30px 20px 10px;*/
    padding-top: 10px;padding-right: 20px;
    padding-bottom: 30px;padding-left: 40px;
}